---
	import '../styles/global.css'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Icon-Anillos.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Juli Y Pipe</title>
	</head>
	<body class="bg-cyan-50/50">
		<slot />
	</body>
</html>

<style>
	* {
		margin: 0;
		padding: 0;
	}
</style>
